/*-------------------- Starting Reset CSS --------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*-------------------- HTML5 display-role reset for older browsers --------------------*/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
}
/*-------------------- Ending Reset CSS --------------------*/
/*-------------------- Starting Body CSS3 --------------------*/
body{
	background: url(https://www.transportation.gov/sites/all/themes/modebase/images/metal-gradient.png) repeat-x;
	height: 850px !important;
	font-family: 'Merriweather';
	font-weight: 400;
	font-size: 15px;
	line-height: 26px;
	color:#323a45;
}
a{
	color:#0071bc;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Source Sans Pro';
	font-weight: 700;
}
h1{
	font-size: 44px;
	line-height: 57px;
}
h2{
	font-size: 34px;
	line-height: 44px;
}
h3{
	font-size: 24px;
	line-height: 31px;
}
h4{
	font-size: 19px;
	line-height: 25px;
}
h5{
	font-size: 15px;
	line-height: 20px;
}
h6{
	font-weight: 400 !important;
	font-size: 13px;
	line-height: 17px;
}
.leadParagraph{
	font-family: 'Source Sans Pro';
	font-weight: 300;
	font-size: 22px;
	line-height: 33px;
	color:#323a45;
}
.fatherBox{
	margin: 0 auto;
    max-width: 1200px;
	z-index: 2;
	background-color: #fff;
}
.header, footer{
	position: relative;
    background: url(https://www.transportation.gov/sites/dot.gov/themes/dot_wide/images/NEW_header-background.jpg) top left no-repeat;
    color: #fff;
    height: 120px;
    z-index: 9999;
    max-width: 1200px;
	margin: 0 auto;
	width:100%;
}
.logo{
	width:35%;
	float:left;
}
.logo img{
	padding-left: 20px;
	padding-top:30px;
}
.menu{
	float:right;
	width:65%;
}
.menu nav{
	width:100%;
	max-width: 350px;
	float: right;
	padding-top:30px;
}
.menu nav ul li{
	float:left;
	padding: 10px 10px;
	
}
.menu nav ul li a{
	font-family: 'Source Sans Pro';
	font-weight: 400;
	color: #fff;
	font-size: 17px;
	transition: border 0.3s linear 0.1s;
	padding: 10px 20px;	
}
.menu nav ul li a:hover{
	border-bottom: #02bfe7 solid 2px;
	line-height: 24px;
	background-color:#112e51; 
	padding: 10px 20px;
}
.descriptionWeb{
	width: 100%;
	background-color: #0071bc;
	height:400px;
}
.principalImage, .paragraphDescription{
	width:50%;
	float:left;
	height:400px;
}
.paragraphDescription p{
	color:#fff;
	top:30%;
	position: relative;
	padding: 0 50px;
	font-family: 'Source Sans Pro';
	font-weight: 300; 
	font-size: 22px; 
	line-height: 33px;
	text-align:justify;
}
