/*-------------------- Starting Reset CSS --------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*-------------------- HTML5 display-role reset for older browsers --------------------*/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
}
/*-------------------- Ending Reset CSS --------------------*/
/*-------------------- Starting Body CSS3 --------------------*/
body{
	font-family: 'Source Sans Pro';
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color:#323a45;
	background: #e4e4e8;
    background: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(17%,#F1F1F1),color-stop(100%,#d6d7d9));
    background: -moz-linear-gradient(top,#F1F1F1 17%,#d6d7d9 100%);
    background: -webkit-linear-gradient(top,#F1F1F1 17%,#d6d7d9 100%);
    background: linear-gradient(to bottom,#F1F1F1 17%,#d6d7d9 100%);
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FFF1F1F1',endColorstr='#FFd6d7d9');
    background: linear-gradient(to bottom,#F1F1F1 17%,#d6d7d9 100%);
}
a{
	color:#0071bc;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Source Sans Pro';
	font-weight: 700;
}
h1{
	font-size: 44px;
	line-height: 57px;
}
h2{
	font-size: 34px;
	line-height: 44px;
}
h3{
	font-size: 24px;
	line-height: 31px;
}
h4{
	font-size: 19px;
	line-height: 25px;
}
h5{
	font-size: 15px;
	line-height: 20px;
}
h6{
	font-weight: 400 !important;
	font-size: 13px;
	line-height: 17px;
}
li{
	background-color: #f1f1f1;
	border-bottom: #323a45 solid 1px;
	padding: 5px 0; 
}
select{
	border: 1px solid #5b616b;
	min-width: 150px;
	height:30px;
	line-height: 30px;
	background: #fff;
	margin: 0 5px;
}
.leadParagraph{
	font-family: 'Source Sans Pro';
	font-weight: 300;
	font-size: 22px;
	line-height: 33px;
	color:#323a45;
}
.fatherBox{
	margin: 0 auto;
    max-width: 1300px;
	z-index: 2;
	background-color: #fff;
}
.header, footer{
	position: relative;
    background: url(https://www.transportation.gov/sites/dot.gov/themes/dot_wide/images/NEW_header-background.jpg) top left no-repeat;
    color: #fff;
    height: 120px;
    z-index: 9999;
    max-width: 1300px;
	margin: 0 auto;
	width:100%;
}
.logo{
	width:35%;
	float:left;
}
.logo img{
	padding-left: 20px;
	padding-top:30px;
}
.menu{
	float:right;
	width:65%;
}
.menu nav{
	width:100%;
	max-width: 350px;
	float: right;
	padding-top:30px;
}
.menu nav ul li{
	float:left;
	padding: 10px 0px;
	
}
.menu nav ul li a{
	font-family: 'Source Sans Pro';
	font-weight: 400;
	color: #fff;
	font-size: 17px;
	transition: border 0.3s linear 0.1s;
	padding: 10px 0px;	
}
.menu nav ul li a:hover{
	border-bottom: #02bfe7 solid 2px;
	line-height: 24px;
	background-color:#112e51; 
	padding: 10px 0px;
}
.descriptionWeb{
	width: 100%;
	background-color: #0071bc;
	height:400px;
}
.principalImage, .paragraphDescription{
	width:50%;
	float:left;
	height:400px;
}
.principalImage img{
	width:100%;
	max-width: 600px;
}
.paragraphDescription p{
	color:#fff;
	top:30%;
	position: relative;
	padding: 0 50px;
	font-family: 'Source Sans Pro';
	font-weight: 300; 
	font-size: 22px; 
	line-height: 33px;
    text-align:justify;
}
.typeOfAccident{
	width: 80%;
	margin: 20px 100px;
	text-align: center;
}
.choose_type_of_accident{
	background-color: none;
	font-family: 'Source Sans Pro';
	font-size: 35px;
	font-weight: bold;
	color: #112e51;
	margin: 25px;
	text-align: center;
}
input{
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
    border-radius: 50%;
    border: none;
	display: inline-block;
    color: transparent;
	font-family: 'Source Sans Pro';
	font-size: 11px;
    padding: 27px 14px;
    width: 128px;
    height: 128px;
    margin:20px 1px;
	text-decoration: none;
}
#accidents_acuatics{
	background-image: url(img/cruise.png);
	width: 128px;
	height: 128px;
	background-size: 100px;
}
#accidents_air{
	background-image: url(img/aeroplane.png);
	width: 128px;
	height: 128px;
	background-size: 85px;
} 
#accidents_pedestrian{
	background-image: url(img/pedestrian.png);
	background-size: 110px;
}
#accidents_highway{
	background-image: url(https://icon-icons.com/icons2/1448/PNG/128/42563motorway_98968.png);
	background-size: 95px;
}
#accidents_employee{
	background-image: url(img/accident.png);
	background-size: 95px;
}
#accidents_railway{
	background-image: url(img/train.png);
	background-size: 100px;
}
#accidents_publicTransportation{
	background-image: url(img/bus.png);
	background-size: 85px;
}
#accidents_pipelines{
	background-image: url(img/pipeline.png);
	background-size: 85px;
}
#accidents_others{
	background-image: url(img/injuried.png);
	background-size: 140px;
}
#accidents_acuatics:hover, #accidents_air:hover, #accidents_pedestrian:hover, #accidents_highway:hover, #accidents_employee:hover, #accidents_railway:hover, #accidents_publicTransportation:hover, #accidents_pipelines:hover, #accidents_others:hover{
    background-image: none;
    background-color: #0071bc;
    color: white;
}
#accidents_acuatics, #accidents_air, #accidents_pedestrian, #accidents_highway, #accidents_employee, #accidents_railway, #accidents_publicTransportation, #accidents_pipelines, #accidents_others{
	background-position: center;
	background-repeat: no-repeat;
    transition-timing-function: ease-in;
    transition: 0.2s;
}

.listAccident{
	display:none;
}
.show{
	display:block !important;
}
.hide{
	display:none !important;
}
.buttonbylink{
	background-color: transparent;
	border:none;
	font-size: 15px;
	padding: 5px 20px;
	color: #323a45;
	-webkit-transition: all 300ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition:all 300ms cubic-bezier(0.47, 0, 0.745, 0.715); 
}
.buttonbylink:hover{
	background-color:#0071bc;
	border:none;
	color: #fff;
}
.buttonbylink:active{
	background-color:#112e51;
	border:none;
	color: #fff;
}
.fa-check-square{
	color:#0071bc;
	padding-right: 10px;
	font-size: 15px;
}
.fa-arrow-down{
	margin-left:10px;
}
.containerbox100{
	width:100%;
	height: auto;
	margin:40px auto;
}
.containerbox100 h2{
	color: #046b99;
	text-align:center;
	padding-bottom:40px; 
}
.containerbox50{
	width:50%;
	height: auto;
	display: table-cell;	
}
.containerbox95{
	width:95%;
	margin: 0 auto;
	display:block;
}
.containerboc98{
	   width:98%;
	   margin: 0 auto;
	   display:block;
	  }
.container2-1 ul{
	   padding-bottom:15px;
   }
.categoryTitle{
	background-color: #2e8540;
	color: #f1f1f1;
	width: 100%;
	height: 35px;
	margin-bottom:15px;
}
.categoryTitle h5, .categoryTitleResult h5{
	padding-left: 10px;
	text-transform: uppercase;
	line-height: 35px;
}

.categoryTitleResult{
	background-color: #046b99;
	color: #f1f1f1;
	width: 100%;
	height: 35px;
	margin-top: -5px;
	margin-bottom:15px;
}
.showAllData{
	background-color: #0071bc;
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	text-align:center;
	display:block;
	margin: 30px auto;
	padding:10px 20px;
	line-height: 16px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: none;
	-webkit-transition: all 300ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition:all 300ms cubic-bezier(0.47, 0, 0.745, 0.715);
}
.showAllData:hover{
	background-color: #205493 ;	
	border:none;
}
.showAllData:active{
	background-color: #112e51 ;	
	border:none;
}
.calculateGroup{
	border-bottom: #F1F1F1 solid 2px; 
	margin-bottom: 15px;
	text-align: justify;
	height:auto;
	width: 100%;
}
.calculateGroup span{
	line-height: 15px;
}
.calculateGroup span b{
	font-weight: 600;
	padding:2px 5px;
	background-color: #F1F1F1;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.space{
	width: 100%;
	height: 30px;
}
.centerInline{
	max-width:550px; 
	margin: 20px auto; 
	display:block;
}


