/*-------------------- Starting Reset CSS --------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*-------------------- HTML5 display-role reset for older browsers --------------------*/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
}
/*-------------------- Ending Reset CSS --------------------*/
/*-------------------- Starting Body CSS3 --------------------*/
body{
	font-family: 'Source Sans Pro';
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color:#323a45;
	background: #e4e4e8;
    background: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(17%,#F1F1F1),color-stop(100%,#d6d7d9));
    background: -moz-linear-gradient(top,#F1F1F1 17%,#d6d7d9 100%);
    background: -webkit-linear-gradient(top,#F1F1F1 17%,#d6d7d9 100%);
    background: linear-gradient(to bottom,#F1F1F1 17%,#d6d7d9 100%);
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FFF1F1F1',endColorstr='#FFd6d7d9');
    background: linear-gradient(to bottom,#F1F1F1 17%,#d6d7d9 100%);
}
a{
	color:#0071bc;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Source Sans Pro';
	font-weight: 700;
}
h1{
	font-size: 44px;
	line-height: 57px;
}
h2{
	font-size: 34px;
	line-height: 44px;
}
h3{
	font-size: 24px;
	line-height: 31px;
}
h4{
	font-size: 19px;
	line-height: 25px;
}
h5{
	font-size: 15px;
	line-height: 20px;
}
h6{
	font-weight: 400 !important;
	font-size: 13px;
	line-height: 17px;
}
li{
	background-color: #f1f1f1;
	border-bottom: #323a45 solid 1px;
	padding: 5px 0; 
}
select{
	border: 1px solid #5b616b;
	min-width: 150px;
	height:30px;
	line-height: 30px;
	background: #fff;
	margin: 0 5px;
	width:80%;
}
option{

}
.divselect{
	width:33.33%;
	height: auto;
	float: left;
	overflow: hidden;
	padding: 15px 0;
}
.divselect h5{
	text-align:center;
	padding: 15px 0;
}
.divselect select{
	margin: 0 auto;
	display:block;
	margin-bottom: 15px;
}
.showAllData{
	background-color: #0071bc;
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	text-align:center;
	display:block;
	margin: 30px auto;
	padding:10px 20px;
	line-height: 16px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: none;
	-webkit-transition: all 300ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition:all 300ms cubic-bezier(0.47, 0, 0.745, 0.715);
}
.showAllData:hover{
	background-color: #205493 ;	
	border:none;
}
.showAllData:focus{
	background-color: #112e51 ;	
	border:none;
}
.header, footer{
	background: url(https://www.transportation.gov/sites/dot.gov/themes/dot_wide/images/NEW_header-background.jpg) top left no-repeat;
    color: #fff;
    height: 120px;
    margin: 0 auto;
	width:100%;
}
footer{
	height: 185px !important;
	background: url(https://www.transportation.gov/sites/dot.gov/themes/dot_wide/images/NEW_header-background.jpg) top left repeat;
	background-size: cover;
}
.footer-container{
padding: 20px;
display:block;
width: 100%;
}
.footer-text, .copyright{
 color: #FFF;
 text-align: center;
}
.copyright{
	font-size:12px;
}
.logo{
    width:100%;
	}
.logo img{
    margin:0px auto;
    display:block;
    padding-top: 35px;
}
.descriptionWeb{
	width: 100%;
	background: url(https://www.sumel.cl/firma/injuriesperson2-0.png) top left repeat;
	background-size: cover;
    height:250px;
}
.paragraphDescription{
	width:90%;
	margin: 0% 5%;
	height:250px;
}
.paragraphDescription p{
	color:#fff;
	padding: 70px 0px;
	font-family: 'Source Sans Pro';
	font-weight: 300; 
	font-size: 22px; 
	line-height: 33px;
    text-align:center;
}
.col-95{
	width:95%;
	height: auto;
	overflow: hidden;
    margin: 0 auto; 
	display:block;	
}
.col-50{
	width:50%;
    float:left;
    height: auto;
	overflow: hidden;
}
.col-50 h4, .col-95 h4{
    background: #112e51;
    color:#fff;
    text-align: center;
    padding: 15px 0;
    margin: 20px 1%;
    width: 98%;
}
.col-50-category{
    width:50%;
    height: 80px;
    float:left;
}
.category-accident-1, .category-accident-2, .category-accident-3, .category-accident-4, .category-accident-5, .category-accident-6, .category-accident-7, .category-accident-8, .category-accident-9{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
 	font-family: 'Source Sans Pro';
	font-size: 11px;
	color:transparent;
    background-color: #aeb0b5;
    background-position: center;
    background-repeat: no-repeat;
    height: 70px;
    width: 95%;
    padding: 10px;
    text-decoration: none;
    -webkit-transition: all 300ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition:all 300ms cubic-bezier(0.47, 0, 0.745, 0.715);
}
.category-accident-1{
    background-image: url(https://www.sumel.cl/firma/acuatics1.png);
}
.category-accident-2{
    background-image: url(https://www.sumel.cl/firma/air1.png);
}
.category-accident-3{
	background-image: url(https://www.sumel.cl/firma/pedestrian.png);
}
.category-accident-4{
	background-image: url(https://www.sumel.cl/firma/highway_1.png);
}
.category-accident-5{
	background-image: url(https://www.sumel.cl/firma/workaccidents.png);
}
.category-accident-6{
	background-image: url(https://www.sumel.cl/firma/railway.png);
}
.category-accident-7{
	background-image: url(https://www.sumel.cl/firma/publictransport.png);
}
.category-accident-8{
	background-image: url(https://www.sumel.cl/firma/pipeline.png);
}
.category-accident-9{
	background-image: url(https://www.sumel.cl/firma/others.png);
}
.category-accident-1:hover, .category-accident-2:hover, .category-accident-3:hover, .category-accident-4:hover, .category-accident-5:hover, .category-accident-6:hover, .category-accident-7:hover, .category-accident-8:hover, .category-accident-9:hover{
	background-color: rgba(0, 113, 188, .5);
    background-position: center;
    background-repeat: no-repeat;
    height: 70px;
    width: 95%;
    padding: 10px;
	text-decoration: none;
}
.category-accident-1:focus, .category-accident-2:focus, .category-accident-3:focus, .category-accident-4:focus, .category-accident-5:focus, .category-accident-6:focus, .category-accident-7:focus, .category-accident-8:focus, .category-accident-9:focus{
	border: solid #0071bc 1px;
	background-color: rgba(0, 113, 188, .5);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    border-radius: 10px;
}
.show-category-more-info{
    width:95%;
    height: 400px;
    max-height: 500px;
    border:3px dotted #8ba6ca;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
}
.show-category-more-info p{
    color: #8ba6ca;
    text-align: center;
    padding: 30px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}
.show-category-more-info img{
    margin: 0 auto; 
    display: block;
    width:100%; 
    max-width: 250px;
}
.show{
	display:block !important;
}
.hide{
	display:none;
}
.calculateGroup{
	padding: 5px 10px;
}
.calculateGroup span{
	line-height: 15px;
}
.calculateGroup span b{
	font-weight: 600;
	padding:2px 5px;
	background-color: #F1F1F1;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.fa-circle{
	font-size:11px;
	margin-right:10px;
	color: #0071bc;
	font-weight: 600;
}
.buttonbylink{
	background-color: transparent;
	border:none;
	font-size: 15px;
	padding: 5px 20px;
	color: #323a45;
	-webkit-transition: all 300ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition:all 300ms cubic-bezier(0.47, 0, 0.745, 0.715); 
}
.buttonbylink:hover{
	background-color:#0071bc;
	border:none;
	color: #fff;
}
.buttonbylink:active{
	background-color:#112e51;
	border:none;
	color: #fff;
}
.buttonbylink::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f46c"; margin-right: 10px;
  }
  .buttonbylink::after {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f107"; margin-left: 10px;
  }
.graphic{
	width:100%;
	height: auto; 
	overflow: hidden;
	padding: 15px 0;
}
.graphic_content{
	height: 300px;
	width: 100%;
	margin: 0 auto;
	display:block;
}
/**--------------------------------------------------RESPONSIVE DESIGN------------------------------------------*/
@media (max-width: 1000px) {
	.col-50{
		width:97%;
		float:none;
		margin: 30px 1.5%;
		display:block;
	
	}

}
@media (max-width: 700px) {
	.descriptionWeb{
		height:350px;
	}
}
@media (max-width: 500px) {
	.col-50-category{
		width:97%;
		float:none;
		margin: 30px 1.5%;
		display:block;
		
	}
}
@media (max-width: 450px) {
	.descriptionWeb{
		height:430px;
	}
}